// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "PlayfairRegular", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --dusty_gray: #9C9C9C;
  --gallery: #EEEEEE;
  --mine-shaft: #212121;
  --white: #FFFFFF;
  --golden_tainoi: #FFCF55;
  --ronchi: #F0C451;
  --egg_white: #FFEEC2;
}
