<section class="about" id="about">
  <div class="container">
      <div class="title--block">
        <svg class="title--block__img">
          <use xlink:href="img/sprite.svg#kettlebell"></use>
        </svg>
          <h2 class="subtitle title--block__text">
              ОБО МНЕ
          </h2>
      </div>
      <div class="about--main">
          <div class="about--main__left">
              <p class="param--text">
                  <span>Комаров Андрей</span>
              </p>
              <p class="param--text">
                  Автор курсов "Гиревой тренинг в домашних условиях", "Тренировки с двумя гирями на все тело",
                  "Развитие силы хвата"
              </p>
              <p class="param--text">
                  Сертифицированный персональный тренер по фитнесу
                  и бодибилдингу. Тренировки по таким направлениям как: гиревой тренинг, фитнес, тренировки в
                  тренажерном зале, функциональный тренинг, бокс, тайский бокс и т.д.
                  Опыт работы с людьми пожилого возраста, подростками, детьми и людьми
                  с ограничениями по здоровью.
                  Обладатель нескольких званий World Class и Elite по версии международного рейтинга Grabhold, участник и призер большого количества онлайн соревнований
                  и сертификаций по силе хвата и сгибанию стали.
              </p>
          </div>
          <div class="about--main__right">
              <img src="img/Foto.jpg" alt="Фотография" class="about__foto">
          </div>
      </div>
      <div class="about--main__side">
          <ul class="about__list flex list-reset">
              <li class="about__item">
                  <span class="about__item--subtitle">
                      БОЛЕЕ 10 ЛЕТ
                  </span>
                  <p class="about__item--param">
                      Тренерской деятельности
                  </p>
              </li>
              <li class="about__item">
                  <span class="about__item--subtitle">
                      БОЛЕЕ 100
                  </span>
                  <p class="about__item--param">
                      Довольных клиентов
                  </p>
              </li>
              <li class="about__item">
                  <span class="about__item--subtitle">
                      БОЛЕЕ 20 ЛЕТ
                  </span>
                  <p class="about__item--param">
                      Стажа собственных тренировок
                  </p>
              </li>
          </ul>
      </div>
  </div>
</section>
