<section class="blog">
  <div class="container">
    <ul class="crumbs">
      <li class="crumbs__item">
        <a href="../index.html">
          Главная
        </a>
      </li>
      <li class="crumbs__item">
        <a href="../blog_main.html">
          Блог
        </a>
    </ul>

    <div class="blog__main">
      <h1 class="blog__title">
        Блог
      </h1>
      <div class="blog__trainings">
        <a href="../trainings_program.html" class="btn blog__btn">
          <h2 class="blog__subtitle">
            Программы тренировок
          </h2>
        </a>

      </div>
      <div class="blog__grip">
        <a href="../grip.html" class="btn blog__btn">
          <h2 class="blog__subtitle">
            Дневник хвата
          </h2>
        </a>
      </div>

    </div>

  </div>
</section>
