<section class="customs" id="customs">
  <div class="container">
      <div class="customs__main">
        <div class="title--block">
          <svg class="title--block__img">
            <use xlink:href="img/sprite.svg#kettlebell"></use>
          </svg>
          <h2 class="subtitle title--block__text">
            РЕЗУЛЬТАТЫ
          </h2>
        </div>
          <div class="customs__list list-reset">
              <figure class="customs__item">
                  <img src="img/s-2.jpg" alt="FOTO" class="customs__img">
                  <figcaption>3 месяца</figcaption>
              </figure>
              <figure class="customs__item">
                  <img src="img/j-2.jpg" alt="FOTO" class="customs__img">
                  <figcaption>5 месяцев</figcaption>
              </figure>
              <figure class="customs__item">
                  <img src="img/k.jpg" alt="FOTO" class="customs__img">
                  <figcaption>2 месяца</figcaption>
              </figure>
              <a href="https://t.me/@Kamarooff" class="btn btn-reset">Записаться</a>
          </div>
      </div>
  </div>
</section>
