<section class="grip">
  <div class="container">
    <ul class="crumbs">
      <li class="crumbs__item">
        <a href="../index.html">
          Главная
        </a>
      </li>
      <li class="crumbs__item">
        <a href="../blog_main.html">
          Блог
        </a>
      </li>
      <li class="crumbs__item">
        <a href="../grip.html">
          Дневник хвата
        </a>
      </li>

    </ul>

    <div class="grip__main">
      <h1 class="grip__title">
        Дневник хвата
      </h1>
      <div class="grip__vingot">
        <a href="../vingot-king.html" class="btn grip__btn">
          <h2 class="grip__subtitle">
            Vingot King Challenge
          </h2>
        </a>

      </div>
    </div>

  </div>
</section>
