<header class="header">
  <div class="container header__container">
      <nav class="nav" >
          <div class="nav__logo">
              <svg class="logo__img">
                <use xlink:href="img/sprite.svg#Logo"></use>
              </svg>
              <span class="logo__name">
                  Kamarooff
              </span>
          </div>

          <ul class="nav__list list-reset" data-menu>
              <li class="nav__item">
                <a href="../index.html">
                      Главная
                  </a>
              </li>
              <li class="nav__item">
                <a href="../blog_main.html">
                      Блог
                  </a>
              </li>
          </ul>
          <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
            <span class="burger__line"></span>
          </button>
        </nav>
  </div>
</header>

