<header class="header">
  <div class="container header__container">
    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>
      <nav class="nav flex">
          <div class="nav__logo flex">
              <img src="img/Logo.svg" alt="Логотип" class="logo">
              <span class="logo__name">
                  Kamarooff
              </span>
          </div>
          <ul class="nav__list list-reset flex">
              <li class="nav__item">
                  <a href="#about">
                      Обо мне
                  </a>
              </li>
              <li class="nav__item">
                  <a href="#services">
                      Услуги
                  </a>
              </li>
              <li class="nav__item">
                  <a href="#training">
                      Тренировки
                  </a>
              </li>
              <li class="nav__item">
                  <a href="#customs">
                      Результаты
                  </a>
              </li>
              <li class="nav__item">
                  <a href="#contacts">
                      Контакты
                  </a>
              </li>
          </ul>
      </nav>
  </div>
</header>
