<section class="services" id="services">
  <div class="container">
    <div class="services__main">
      <div class="title--block">
        <svg class="title--block__img">
          <use xlink:href="img/sprite.svg#kettlebell"></use>
        </svg>
        <h2 class="subtitle title--block__text">
          УСЛУГИ
        </h2>
      </div>
      <ul class="services__list list-reset">
        <li class="services__item">
          <svg class="">
            <use xlink:href="img/sprite.svg#gym"></use>
          </svg>
          <h3 class="services__title">
            Персональные тренеровки онлайн
          </h3>
          <p class="services__param">
            Тренировки проводятся тет-а-тет по видеосвязи (Google Meet, Zoom и т.д.).
            Результативность такого формата ни чуть не уступает индивидуальным тренировкам с
            тренером в зале, и при этом позволяет заниматься из любой точки земного шара, в
            тренажерном зале или себя дома!
          </p>
        </li>
        <li class="services__item">
          <svg class="">
            <use xlink:href="img/sprite.svg#exam"></use>
          </svg>
          <h3 class="services__title">
            Сопровождение тренировочного процесса
          </h3>
          <p class="services__param">
            Данный формат предназначен для уже опытных атлетов. Услуга подразумевает еженедельное
            составление тренировочного плана в виде excel таблицы. В конце каждой недели атлет
            заполняет графу обратной связи по каждому упражнению таблицы, на основании которой
            вводятся корректировки следующей недели!
          </p>

        </li>
        <li class="services__item">
          <svg class="">
            <use xlink:href="img/sprite.svg#nutrition"></use>
          </svg>
          <h3 class="services__title">
            Составление индивидуальных программ и коррекция питания
          </h3>
          <p class="services__param">
            Услуга заключается в разовом составлении индивидуальной тренировочной программы на
            основании анкеты, заполяемой атлетом. При этом также составляется план питания, при
            необходимости консультации по спортивному питанию и ответы на уточняющие вопросы.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
