<section class="training" id="training">
  <div class="container">
      <div class="trainings__main">
        <div class="title--block">
          <svg class="title--block__img">
            <use xlink:href="img/sprite.svg#kettlebell"></use>
          </svg>
          <h2 class="subtitle title--block__text">
            ТРЕНИРОВКИ
          </h2>
        </div>
          <ul class="training__list list-reset">
              <li class="training__item">
                  <article class="training__item-block">
                      <h3 class="training__title">
                          Гиревой тренинг
                      </h3>
                      <p class="training__item-param">
                          Гиря и по сей день является самым практичным и доступным инструментом для создания
                          идеальной формы тела как в зале, так и в домашних условиях.
                          Являюсь автором собственных курсов и методик тренировок с гирей. Помогу вам не
                          только построить тело вашей мечты, но и улучшить силовые и функциональные
                          показатели, тем самым развив выносливость.
                      </p>
                  </article>
              </li>
              <li class="training__item">
                  <article class="training__item-block">
                      <h3 class="training__title">
                          Фитнес и тренажерный зал
                      </h3>
                      <p class="training__item-param">
                          Тренажерный зал являются самым популярным местом для тренировок, так как там можно
                          найти любой тренажёр для прокачки своего тела. Но не все знают, как эффективно и
                          безопасно ими пользоваться. Обладая более чем 20-ти летним опытом тренировок в залах
                          с различной комплектацией, я быстро сориентирую вас в любом зале и на любом
                          оборудовании! Успешно тренирую онлайн уже 3 года, а это значит, что каждая наша
                          тренировка будет максимально эффективной и без лишнего сумбура!
                      </p>
                  </article>
              </li>
              <li class="training__item">
                  <article class="training__item-block">
                      <h3 class="training__title">
                          Тренировки хвата
                      </h3>
                      <p class="training__item-param">
                          Сила хвата является лимитирующим показателем практически во всех упражнениях.
                          Тренируя хват вы не только улучшаете свои показатели во всех упражнениях, но также
                          улучшаете качество своей жизни, используя хват в бытовых условиях. А также хват
                          развивает ваш мозг! Да, да, вы не ослышались, ведь мышцы ладони занимают самую
                          большую проекцию на коре головного мозга.
                        </p>
                  </article>
              </li>
          </ul>
      </div>
  </div>
</section>
