<section class="trainings-prog">
  <div class="container">
    <ul class="crumbs">
      <li class="crumbs__item">
        <a href="../index.html">
          Главная
        </a>
      </li>
      <li class="crumbs__item">
        <a href="../blog_main.html">
          Блог
        </a>
      </li>
      <li class="crumbs__item">
        <a href="../trainings_program.html">
          Программы тренировок
        </a>
      </li>
    </ul>
    <article class="trainings-prog__block">
      <h1 class="trainings-prog__title">
        Программа тренировок на мышечную массу для мужчин в тренажерном зале стандартной комплектации
      </h1>
      <article class="trainings-prog__block">
        <h2 class="trainings-prog__subtitle">
          День 1: грудь + бицепс
        </h2>
        <p class="trainings-prog__param">
          1) Жим гантелей лежа на горизонтальной скамье - 5 подходов по 10 повторений
        </p>
        <p class="trainings-prog__param">
          2) Отжимания на брусьях - 4 подхода по 8 повторений
        </p>
        <p class="trainings-prog__param">
          3) Разводка гантелей лежа на наклонной скамье - 4 подхода по 12 повторений
        </p>
        <p class="trainings-prog__param">
          4) Подъем штанги на бицепс стоя - 5 подходов по 12 повторений
        </p>
        <p class="trainings-prog__param">
          5) Подъем штанги (изогнутый гриф) сидя на скамье Скотта - 4 подхода по 12 повторений
        </p>
        <h2 class="trainings-prog__subtitle">
          День 2: спина + трицепс
        </h2>
        <p class="trainings-prog__param">
          1) Тяга верхнего блока (широкая рукоять) - 5 подходов по 10 повторений
        </p>
        <p class="trainings-prog__param">
          2) Тяга горизонтального блока (параллельная рукоять) - 4 подхода по 10 повторений
        </p>
        <p class="trainings-prog__param">
          3) Становая тяга - 4 подхода по 10 повторений
        </p>
        <p class="trainings-prog__param">
          4) Жим штанги узким хватом лежа на горизонтальной скамье - 5 подходов по 10 повторений
        </p>
        <p class="trainings-prog__param">
          5) Французский жим лежа со штангой - 4 подхода по 12 повторений
        </p>
        <h2 class="trainings-prog__subtitle">
          День 3: плечи + ноги
        </h2>
        <p class="trainings-prog__param">
          1) Жим штанги стоя - 5 подходов по 10 повторений
        </p>
        <p class="trainings-prog__param">
          2) Протяжка со штангой - 4 подхода по 12 повторений
        </p>
        <p class="trainings-prog__param">
          3) Приседания со штангой - 5 подходов по 10 повторений
        </p>
        <p class="trainings-prog__param">
          4) Румынская тяга со штангой - 4 подхода по 10 повторений
        </p>
        <p class="trainings-prog__param">
          5) Пресс - 4 подхода по 20 повторений
        </p>
      </article>
    </article>
    <article class="trainings-prog__block">
      <h1 class="trainings-prog__title">
        Программа тренировок на похудение (сушку) для девушек в тренажерном зале стандартной комплектации
      </h1>
      <article class="trainings-prog__block">
        <h2 class="trainings-prog__subtitle">
          День 1: верх
        </h2>
        <p class="trainings-prog__param">
          1) Жим гантелей лежа на горизонтальной скамье - 5 подходов по 15 повторений
        </p>
        <p class="trainings-prog__param">
          2) Тяга верхнего блока - 4 подхода по 15 повторений
        </p>
        <p class="trainings-prog__param">
          3) Тяга горизонтального блока - 4 подхода по 12 повторений
        </p>
        <p class="trainings-prog__param">
          4) Махи гирей - 5 подходов по 20 повторений
        </p>
        <p class="trainings-prog__param">
          5) Подъем гантелей на бицепс + жим Арнольда стоя - 5 подходов по 12 повторений
        </p>
        <p class="trainings-prog__param">
          6) Французский жим лежа - 5 подходов по 12 повторений
        </p>
        <h2 class="trainings-prog__subtitle">
          День 2: ноги
        </h2>
        <p class="trainings-prog__param">
          1) Приседания со штангой - 5 подходов по 15 повторений
        </p>
        <p class="trainings-prog__param">
          2) Выпады с гантелями - 4 подхода по 12 повторений
        </p>
        <p class="trainings-prog__param">
          3) Присед с гирей с широкой постановкой ног - 4 подхода по 12 повторений
        </p>
        <p class="trainings-prog__param">
          4) Румынская тяга со штангой - 5 подходов по 15 повторений
        </p>
        <p class="trainings-prog__param">
          5) Трастеры с гирей - 4 подхода по 12 повторений
        </p>
        <p class="trainings-prog__param">
          6) Подъемы на носки стоя с гирей - 5 подходов по 15 повторений
        </p>
        <p class="trainings-prog__param">
          <span> *Программа на 4 дня в неделю с чередование дней: верх-низ-верх-низ</span>
        </p>
      </article>
      <article class="trainings-prog__block">
        <h1 class="trainings-prog__title">
          Программа тренировок с двумя гирями для мужчин
        </h1>
        <article class="trainings-prog__block">
          <h2 class="trainings-prog__subtitle">
            День 1: толчковый
          </h2>
          <p class="trainings-prog__param">
            1) Толчок двух гирь - 5 подходов по 10-15 повторений
          </p>
          <p class="trainings-prog__param">
            2) Отжимания на брусьях - 4 подхода по 12 повторений
          </p>
          <p class="trainings-prog__param">
            3) Жим двух гирь сидя - 4 подхода по 12 повторений
          </p>
          <p class="trainings-prog__param">
            4) Подъем гирь на бицепс стоя (поочередно) - 5 подходов по 12 повторений
          </p>
          <p class="trainings-prog__param">
            5) Забросы двух гирь в стойку - 4 подхода по 10 повторений
          </p>
          <h2 class="trainings-prog__subtitle">
            День 2: рывковый
          </h2>
          <p class="trainings-prog__param">
            1) Рывок двух гирь стоя - 5 подходов по 10 повторений
          </p>
          <p class="trainings-prog__param">
            2) Силовой рывок гири сидя - 4 подхода по 12 повторений
          </p>
          <p class="trainings-prog__param">
            3) Махи двумя гирями - 4 подхода по 10 повторений
          </p>
          <p class="trainings-prog__param">
            4) Протяжка с гирей - 4 подходов по 15 повторений
          </p>
          <p class="trainings-prog__param">
            5) Трастеры с гирей - 4 подхода по 12 повторений
          </p>
        </article>
      </article>

    </article>

  </div>
</section>
