:root {
    --yellowcolor: #FF9900;
    --orangewhitecolor: #FFB84D;
    --blackcolor: #000000;
    --orangecolor: #E1670E;
    --whitecolor: #FFFFFF;
    --silvercolor: #CACACA;
    --silverdarkcolor: rgba(0, 0, 0, 0.5);
    --greydarkcolor: #414141;
    --greycolor: #666666;
    --greencolor: #97EE3F;
}