<section class="about">
  <div class="container">
    <div class="about__main">
        <img class="about__main--img" src="../img/main/about.jpg" alt="">
      <div class="about__main--right">
        <span>
          Who we are
        </span>
        <h2 class="about__title">
          Why Createx?
        </h2>
        <ul class="about__list list-reset">
          <li class="about__item">
            A fermentum in morbi pretium aliquam adipiscing donec tempus.
          </li>
          <li class="about__item">
            Vulputate placerat amet pulvinar lorem nisl.
          </li>
          <li class="about__item">
            Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
          </li>
          <li class="about__item">
            Etiam duis lobortis in fames ultrices commodo nibh.
          </li>
          <li class="about__item">
            Tincidunt sagittis neque sem ac eget.
          </li>
          <li class="about__item">
            Ultricies amet justo et eget quisque purus vulputate dapibus tortor.
          </li>
        </ul>
        <button class="btn about__btn btn-reset">
          More about us
        </button>
      </div>
    </div>
  </div>
</section>
