<section class="announcements">
  <div class="container">
    <div class="announcements__main">
      <div class="announcements__title-block">
        <span>Don`t miss anything</span>
        <h2 class="announcements__title">
          Subscribe to the Createx School announcements
        </h2>
      </div>
      <form action="#" class="announcements__form">
        <label class="announcements__form-label">
          <input type="email" name="Имя" class="input-reset announcements__form-input" placeholder="Your working email">
        </label>
        <button class="btn-reset btn announcements__btn">Subscribe</button>
      </form>
    </div>
  </div>
</section>
