<section class="cert">
  <div class="container">
    <div class="cert__main">
      <div class="cert__main--block">
        <div class="cert__title--block">
          <span>
            Createx Certificate
          </span>
          <h2 class="cert__title">
            Your expertise will be confirmed
          </h2>
        </div>
        <p class="cert__param">
          We are accredited by international professional organizations and institutes:
        </p>

        <ul class="cert__list list-reset">
          <li class="cert__item">
            <img src="../img/main/logo.png" alt="Picture">
          </li>
          <li class="cert__item">
            <img src="../img/main/logo-1.png" alt="Picture">
          </li>
          <li class="cert__item">
            <img src="../img/main/logo-2.png" alt="Picture">
          </li>
        </ul>
      </div>
      <img src="../img/main/cert.jpg" alt="Picture" class="cert__img">
   </div>
  </div>
</section>
