<section class="courses">
  <div class="container">
    <div class="courses__main">
      <div class="courses__main--block">
        <div class="courses__title--block">
          <span>
            Ready to learn?
          </span>
          <h2 class="courses__title">
            Featured Courses
          </h2>

        </div>
        <button class="btn--transparent courses__btn btn-reset">
          View all courses
        </button>
      </div>
      <ul class="courses__list list-reset">
        <li class="courses__item">
          <img class="courses__item--img" src="../img/main/image-1.jpg" alt="Picture">
          <div class="courses__item--block">
            <span class="courses__item--span color--first">
              Marketing
            </span>
            <h3 class="courses__subtitle">
              The Ultimate Google Ads Training Course
            </h3>
            <p class="courses__param">
              <span class="courses__param--span--first">$100</span>
              <span class="courses__param--span--second">| by Jerome Bell</span>
            </p>
          </div>
        </li>
        <li class="courses__item">
          <img class="courses__item--img" src="../img/main/image-2.jpg" alt="Picture">
          <div class="courses__item--block">
            <span class="courses__item--span color--second">
              Management
            </span>
            <h3 class="courses__subtitle">
              Prduct Management Fundamentals
            </h3>
            <p class="courses__param">
              <span class="courses__param--span--first">$480</span>
              <span class="courses__param--span--second">| by Marvin McKinney</span>
            </p>
          </div>
        </li>
        <li class="courses__item">
          <img class="courses__item--img" src="../img/main/image-3.jpg" alt="Picture">
          <div class="courses__item--block">
            <span class="courses__item--span color--third">
              HR & Recruting
            </span>
            <h3 class="courses__subtitle">
              HR  Management and Analytics
            </h3>
            <p class="courses__param">
              <span class="courses__param--span--first">$200</span>
              <span class="courses__param--span--second">| by Leslie Alexander Li</span>
            </p>
          </div>
        </li>
        <li class="courses__item">
          <img class="courses__item--img" src="../img/main/image-4.jpg" alt="Picture">
          <div class="courses__item--block">
            <span class="courses__item--span color--first">
              Marketing
            </span>
            <h3 class="courses__subtitle">
              Brand Management & PR Communications
            </h3>
            <p class="courses__param">
              <span class="courses__param--span--first">$530</span>
              <span class="courses__param--span--second">| by Kristin Watson</span>
            </p>
          </div>
        </li>
        <li class="courses__item">
          <img class="courses__item--img" src="../img/main/image-5.jpg" alt="Picture">
          <div class="courses__item--block">
            <span class="courses__item--span color--second">
              Management
            </span>
            <h3 class="courses__subtitle">
              Business Development Management
            </h3>
            <p class="courses__param">
              <span class="courses__param--span--first">$400</span>
              <span class="courses__param--span--second">| by Dianne Russell</span>
            </p>
          </div>
        </li>
        <li class="courses__item">
          <img class="courses__item--img" src="../img/main/image-6.jpg" alt="Picture">
          <div class="courses__item--block">
            <span class="courses__item--span color--four">
              Design
            </span>
            <h3 class="courses__subtitle">
              Graphic Design Basic
            </h3>
            <p class="courses__param">
              <span class="courses__param--span--first">$500</span>
              <span class="courses__param--span--second">| by Guy Hawkins</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
