<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__block">
        <h3 class="footer__title">
          CREATEX
        </h3>
        <p class="footer__param">
          Createx Online School is a leader in online studying. We have lots of courses and programs from the main
          market experts. We provide relevant approaches to online learning, internships and employment in the largest
          companies in the country.
        </p>
        <div class="footer__block-social">

        </div>
      </div>
      <ul class="footer__list list-reset">
        <span class="footer__subtitle">SITE MAP</span>
        <li class="footer__item">About Us</li>
        <li class="footer__item">Courses</li>
        <li class="footer__item">Events</li>
        <li class="footer__item">Blog</li>
        <li class="footer__item">Contacts</li>
      </ul>
      <ul class="footer__list list-reset">
        <span class="footer__subtitle">CONTACT US</span>

        <li class="footer__item">Marketing</li>
        <li class="footer__item">Management</li>
        <li class="footer__item">HR & Recruting</li>
        <li class="footer__item">Design</li>
        <li class="footer__item">Development</li>
      </ul>
      <div class="footer__contacts">
        <span class="footer__subtitle">COURSES</span>
        <a href="#" class="footer__link">
          <svg class="">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          (405) 555-0128
        </a>
        <a href="#" class="footer__link">
          <svg class="">
            <use xlink:href="img/sprite.svg#mail"></use>
          </svg>
          hello@createx.com
        </a>

      </div>
      <div class="footer__input-block">
        <span class="footer__subtitle">SIGN UP TO OUR NEWSLETTER</span>
        <form action="#" class="footer__form">
          <label class="footer__form-label">
            <input type="email" name="Имя" class="input-reset footer__form-input" placeholder="Your working email">
          </label>
        </form>
        <p class="footer__param-input">
          *Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.
        </p>
      </div>
    </div>
  </div>
</footer>
