<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <div class="nav__logo">
        <span class="logo__name">
          CREATEX
        </span>
      </div>
      <ul class="nav__list list-reset" data-menu>
        <li class="nav__item">
          <a href="../index.html">
            About Us
          </a>
        </li>
        <li class="nav__item">
          <a href="../blog_main.html">
            Courses
          </a>
        </li>
        <li class="nav__item">
          <a href="../index.html">
            Events
          </a>
        </li>
        <li class="nav__item">
          <a href="../blog_main.html">
            Blog
          </a>
        </li>
        <li class="nav__item">
          <a href="../blog_main.html">
            Contacts
          </a>
        </li>
      </ul>
      <button class="btn btn-reset">Get consultation</button>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </nav>
  </div>
</header>
