<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <div class="nav__logo">
        <picture>
          <img loading="lazy" src="../img/main/logomain.png" class="" width="130" height="22" alt="Logo">
        </picture>
      </div>
      <ul class="nav__list list-reset" data-menu>
        <li class="nav__item">
          <a href="../index.html" class="nav__item-link">
            About Us
          </a>
        </li>
        <li class="nav__item">
          <a href="../blog_main.html" class="nav__item-link">
            Courses
          </a>
        </li>
        <li class="nav__item">
          <a href="../index.html" class="nav__item-link">
            Events
          </a>
        </li>
        <li class="nav__item">
          <a href="../blog_main.html" class="nav__item-link">
            Blog
          </a>
        </li>
        <li class="nav__item">
          <a href="../blog_main.html" class="nav__item-link">
            Contacts
          </a>
        </li>
      </ul>
      <button class="btn btn-reset">Get consultation</button>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </nav>
  </div>
</header>
