<section class="hero">
  <div class="container">
    <div class="hero__main">
      <div class="hero__block">
        <h1 class="hero__block--title">
          Enjoy studying
          with Createx Online Courses
        </h1>
        <div class="hero__block--btn">
          <button class="btn--transparent btn-reset hero__block--btn__first">About us</button>
          <button class="btn btn-reset hero__block--btn__second">Explore courses</button>
        </div>
      </div>
      <img class="hero__img" src="../img/main/illustration.png" alt="">
      <ul class="hero__list list-reset">
        <li class="hero__item">
          <span>1200</span> Students graduated
        </li>
        <li class="hero__item">
          <span>84</span> Completed courses
        </li>
        <li class="hero__item">
          <span>16</span> Qualified tutors
        </li>
        <li class="hero__item">
          <span>5</span> Years of experience
        </li>
      </ul>
    </div>
  </div>
</section>
