<section class="ourblog">
  <div class="container">
    <div class="ourblog__main">
      <div class="ourblog__title-block">
        <span>Our blog</span>
        <h2 class="ourblog__title">
          Latest posts
        </h2>
      </div>
      <button class="btn ourblog__btn btn-reset">
        Go to blog
      </button>
    </div>
    <ul class="ourblog__list list-reset">
      <li class="ourblog__item">
        <picture>
          <img loading="lazy" src="../img/main/blog-1.jpg" class="ourblog__image" width="390" height="300" alt="Image">
        </picture>
        <div class="ourblog__info">
          <span class="ourblog__span">
            Marketing
          </span>
          <span class="ourblog__span">
            September 4, 2020
          </span>
          <span class="ourblog__span">
            36 min
          </span>
        </div>
        <h3 class="ourblog__subtitle">
          What is traffic arbitrage and does it really make money?
        </h3>
        <p class="ourblog__param">
          Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...
        </p>
      </li>
      <li class="ourblog__item">
        <picture>
          <img loading="lazy" src="../img/main/blog-2.jpg" class="ourblog__image" width="390" height="300" alt="Image">
        </picture>
        <div class="ourblog__info">
          <span class="ourblog__span">
            Management
          </span>
          <span class="ourblog__span">
            August 25, 2020
          </span>
          <span class="ourblog__span">
            45 min
          </span>
        </div>
        <h3 class="ourblog__subtitle">
          What to do and who to talk to if you want to get feedback on the product
        </h3>
        <p class="ourblog__param">
          Neque a, senectus consectetur odio in aliquet nec eu. Ultricies ac nibh urna urna sagittis faucibus...
        </p>
      </li>
      <li class="ourblog__item">
        <picture>
          <img loading="lazy" src="../img/main/blog-3.jpg" class="ourblog__image" width="390" height="300" alt="Image">
        </picture>
        <div class="ourblog__info">
          <span class="ourblog__span">
            Design
          </span>
          <span class="ourblog__span">
            August 8, 2020
          </span>
        </div>
        <h3 class="ourblog__subtitle">
          Should you choose a creative profession if you are attracted to creativity?
        </h3>
        <p class="ourblog__param">
          Curabitur nisl tincidunt eros venenatis vestibulum ac placerat. Tortor, viverra sed vulputate ultrices...
        </p>
      </li>
    </ul>
  </div>
</section>
