<section class="courses">
  <div class="container">
    <div class="courses__main">
      <div class="courses__main--block">
        <div class="courses__title--block">
          <h2 class="courses__title">
            Основные направления
          </h2>
        </div>
      </div>
      <ul class="courses__list list-reset">
        <li class="courses__item">
          <img class="courses__item--img" src="../img/html.png" alt="Picture">

          <div class="courses__item--block">
            <h3 class="courses__item--span">
              HTML, CSS
            </h3>
            <h4 class="courses__subtitle">
              Верстка сайтов
            </h4>
            <p class="courses__param">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."            </p>
          </div>
        </li>
        <li class="courses__item">
          <img class="courses__item--img" src="../img/js.png" alt="Picture">
          <div class="courses__item--block">
            <h3 class="courses__item--span">
              JavaScript
            </h3>
            <h4 class="courses__subtitle">
              Добавления анимаций на сайты
            </h4>
            <p class="courses__param">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."            </p>
          </div>
        </li>
        <li class="courses__item">
          <img class="courses__item--img" src="../img/python1.png" alt="Picture">
          <div class="courses__item--block">
            <h3 class="courses__item--span">
              Python
            </h3>
            <h4 class="courses__subtitle">
              Программирование на языке Python
            </h4>
            <p class="courses__param">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."            </p>
          </div>
        </li>
        <li class="courses__item">
          <img class="courses__item--img" src="../img/php.png" alt="Picture">
          <div class="courses__item--block">
            <h3 class="courses__item--span">
              PHP
            </h3>
            <h4 class="courses__subtitle">
              Функциональность сайтов при помощи языка программирования PHP
            </h4>
            <p class="courses__param">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."            </p>
          </div>
        </li>
        <li class="courses__item">
          <img class="courses__item--img" src="../img/seo.png" alt="Picture">
          <div class="courses__item--block">
            <h3 class="courses__item--span">
              SEO
            </h3>
            <h4 class="courses__subtitle">
              Поисковая оптимизация и продвижение сайтов в поисковых системах
            </h4>
            <p class="courses__param">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
