<section class="events">
  <div class="container">
    <div class="events__main">
      <div class="events__title--block">
        <span>
          Our Events
        </span>
        <h2 class="events__title">
          Lectures & workshops
        </h2>
      </div>
      <ul class="events__list list-reset">
        <li class="events__item">
          <span>05</span>
          <div class="events__item--date">
            <p class="events__param--first">
              August
            </p>
            <p class="events__param--second">
              11:00 – 14:00
            </p>
          </div>
          <div class="events__item--text">
            <p class="events__param--first">
              Formation of the organizational structure of the company in the face of uncertainty.
            </p>
            <p class="events__param--second">
              Onine master-class
            </p>
          </div>
          <button class="btn--transparent btn-reset">View more</button>
        </li>
        <li class="events__item">
          <span>24</span>
          <div class="events__item--date">
            <p class="events__param--first">
              July
            </p>
            <p class="events__param--second">
              11:00 – 12:30
            </p>
          </div>
          <div class="events__item--text">
            <p class="events__param--first">
              Building a customer service department. Best Practices.
            </p>
            <p class="events__param--second">
              Onine lecture
            </p>
          </div>
          <button class="btn btn-reset">View more</button>
        </li>
        <li class="events__item">
          <span>16</span>
          <div class="events__item--date">
            <p class="events__param--first">
              July
            </p>
            <p class="events__param--second">
              10:00 – 13:00
            </p>
          </div>
          <div class="events__item--text">
            <p class="events__param--first">
              How to apply methods of speculative design in practice. Worldbuilding prototyping.
            </p>
            <p class="events__param--second">
              Onine workshop
            </p>
          </div>
          <button class="btn--transparent btn-reset">View more</button>
        </li>
      </ul>
      <div class="events__block">
        <span>
          Do you want more?
        </span>
        <button class="btn btn-reset">Explore all events</button>
      </div>
    </div>
  </div>
</section>
