<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__block">
        <div class="footer__logo">
          KomDevel
        </div>
          <p class="footer__subtitle">
          Разработка сайтов: одностраничных лендингов и сайтов-визиток, многостраничных сайтов с блогом, платформ с авторизацией и регистрацией пользователей, интернет-магазинов, телеграмм ботов и многого другого
          </p>
          <p class="footer__param">
            © 2023 KomDevel
          </p>
      </div>
      <ul class="footer__list list-reset">
        <li class="footer__item">
          <a href="../index.html" class="footer__item-link">
            О себе
          </a>
        </li>
        <li class="footer__item">
          <a href="../blog_main.html" class="footer__item-link">
            Направления
          </a>
        </li>
        <li class="footer__item">
          <a href="../index.html" class="footer__item-link">
            Портфолио
          </a>
        </li>
        <li class="footer__item">
          <a href="../blog_main.html" class="footer__item-link">
            Контакты
          </a>
        </li>
      </ul>

      <div class="footer__contacts">
        <h3 class="footer__subtitle">Контакты</h3>
        <a href="#" class="footer__link">
          <svg class="footer__link-icon">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          (405) 555-0128
        </a>
        <a href="#" class="footer__link">
          <svg class="footer__link-icon">
            <use xlink:href="img/sprite.svg#mail"></use>
          </svg>
          hello@createx.com
        </a>
      </div>

    </div>
  </div>
</footer>
