<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <div class="nav__logo">
        KomDevel
      </div>
      <ul class="nav__list list-reset" data-menu>
        <li class="nav__item">
          <a href="../index.html" class="nav__item-link">
            О себе
          </a>
        </li>
        <li class="nav__item">
          <a href="../blog_main.html" class="nav__item-link">
            Направления
          </a>
        </li>
        <li class="nav__item">
          <a href="../index.html" class="nav__item-link">
            Портфолио
          </a>
        </li>
        <li class="nav__item">
          <a href="../blog_main.html" class="nav__item-link">
            Контакты
          </a>
        </li>
      </ul>
      <button class="btn btn-reset">Написать</button>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </nav>
  </div>
</header>
