<section class="hero">
  <div class="container">
    <div class="hero__main">
      <div class="hero__block">
        <div class="hero__block-player">
          <svg class="logo__img">
            <use xlink:href="img/sprite.svg#Logo"></use>
          </svg>
        </div>
        <h1 class="hero__block--title">
          Разработка и создание сайтов и веб-проектов под ключ
        </h1>
        <div class="hero__block--btn">
          <button class="btn--transparent btn-reset hero__block--btn__first">About us</button>
          <button class="btn btn-reset hero__block--btn__second">Explore courses</button>
        </div>
      </div>
        <picture class="hero__img">
          <img loading="lazy" src="../img/progr.svg"  width="390" height="300" alt="Image">
        </picture>
      <ul class="hero__list list-reset">
        <li class="hero__item">
          <span>С нуля под ключ</span>
        </li>
        <li class="hero__item">
          <span>Быстро</span>
        </li>
        <li class="hero__item">
          <span>Надежно</span>
        </li>
        <li class="hero__item">
          <span>В срок</span>
        </li>
      </ul>
    </div>
  </div>
</section>
