<section class="reviews">
  <div class="container">
    <div class="reviews__main">
      <div class="reviews__title-block">
        <span>TESTIMONIALS</span>
        <h2 class="reviews__title">
          Отзывы клиентов
        </h2>
      </div>
      <div class="reviews__block">
        <p class="reviews__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
        </p>
        <div class="reviews__student">
          <picture>
            <img loading="lazy" src="../img/main/student.png" class="reviews__student-image" width="72" height="72" alt="Eleanor Pena">
          </picture>
          <div class="reviews__student-text">
            <p class="reviews__param-name">
              Eleanor Pena
            </p>
            <p class="reviews__param-course">
              Position, Course
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
