@import url(vars.css);

@media (max-width: 768px) {

    /*  header  */

    .header {
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
    }

    .logo__name {
        display: none;
    }


    /*  hero  */

    .hero__main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero__left-block {
        align-items: center;
    }

    .title {
        text-align: center;
    }

    .hero__content {
        text-align: center;
    }

    .hero__list {
        padding: 15px 0;
    }

    .hero__btn {
        /*max-width: 290px;*/
        justify-content: center;
    }

    /*  about  */


    .title__section {
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
    }

    .about__content {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }

    .about__item {
        margin-right: 30px;
    }

    .about__results {
        grid-template-columns: repeat(3, minmax(50px, 250px));
        grid-template-rows: minmax(50px, 150px);
    }

    .about__results-block {
        padding: 10px 10px;
    }

    .about__results-content {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }

    .about__results-param {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
    }

    /*  services  */

    .services__main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 100px);
        gap: 20px;
    }

    .services__item {
        padding: 10px 15px;
        align-items: center;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
    }

    .services__span {
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
    }

    .content {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }

    .services__item svg {
        width: 50px;
    }

    .services__span svg {
        width: 40px;
    }

    /*  slider  */

    .slider__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
    }

    .slider__list {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }

    /*  cooperation  */

    .cooperation__list {
        grid-template-columns: repeat(3, minmax(190px, 405px));
        grid-template-rows: repeat(3, minmax(100px, 125px));
        gap: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
    }

    /*  team  */

    .team__list {
        padding: 20px;
        grid-template-columns: repeat(4, minmax(100px, 250px));
        grid-template-rows: minmax(100px, 250px);
        gap: 40px;
    }

    .social__telegram {
        margin-right: 25px;
    }
}

@media (max-width: 660px) {

    /*  header  */

    .nav__item {
        margin-right: 30px;
    }

    /*  hero  */

    .title {
        max-width: 350px;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
    }

    .hero__content {
        max-width: 350px;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
    }

    .hero__btn {
        flex-direction: column;
    }

    .hero__item {
        padding-right: 40px;
        margin-right: 40px;
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
    }

    .hero__item:last-child {
        padding-right: 0;
    }

    /*  about  */

    .about__line {
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
    }

    .about__line__list {
        width: 100%;
        margin-right: 5px;
        padding: 5px;
    }

    .about__main {
        padding: 60px 15px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        grid-template-rows: 70px 2fr 1fr;
        grid-template-areas:
            "first"
            "second"
            "third";
    }

    .about__results {
        grid-template-columns: repeat(4, minmax(80px, 350px));
        grid-template-rows: repeat(3, 50px);
        row-gap: 20px;
    }

    .title__section {
        width: calc(100% - 20px);
    }

    .about__results-block:nth-child(1) {
        grid-column: 2 / 4;
    }

    .about__results-block:nth-child(2) {
        grid-column: 2 / 4;
    }

    .about__results-block:nth-child(3) {
        grid-column: 2 / 4;
    }

    .about__list {
        padding: 5px;
    }

    .about__content {
        width: calc(100% - 20px);
    }

    /*  services  */

    .services__main {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(5, 70px);
        gap: 10px;
    }

    .services__item {
        padding: 10px;
    }

    .services__span svg {
        width: 30px;
    }

    .services__item svg {
        width: 30px;
    }

    .slider__title {
        padding: 0;
    }

    .slider__list {
        list-style: none;
    }

    .slider__contant {
        padding: 50px 40px;
    }

    /*  cooperation  */

    .cooperation__list {
        grid-template-columns: repeat(3, minmax(100px, 405px));
        grid-template-rows: repeat(3, minmax(40px, 125px));
        gap: 10px;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
    }

    .cooperation__item {
        padding: 10px;
    }

    /*  team  */

    .team__list {
        padding: 15px;
        grid-template-columns: repeat(2, minmax(100px, 330px));
        grid-template-rows: repeat(2, minmax(100px, 330px));
        gap: 20px;
        grid-template-areas:
            "one two"
            "three four";
    }

    .team__item:nth-child(1) {
        grid-area: one;
    }

    .team__item:nth-child(2) {
        grid-area: two;
    }

    .team__item:nth-child(3) {
        grid-area: three;
    }

    .team__item:nth-child(4) {
        grid-area: four;
    }

    /*  footer  */

    .contacts__param {
        margin-bottom: 15px;
        text-align: center;
    }

    .social__telegram {
        margin-right: 25px;
    }
}

@media (max-width: 400px) {

    .nav__item {
        margin-right: 15px;
    }

    .hero__item {
        padding-right: 20px;
        margin-right: 20px;
    }

    .about__line {
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
    }

    .about__list {
        flex-direction: column;
    }

    .about__results {
        grid-template-columns: repeat(3, minmax(80px, 350px));
        grid-template-rows: repeat(3, 50px);
        row-gap: 20px;
    }


    .about__results-block:nth-child(1) {
        grid-column: 1 / 4;
    }

    .about__results-block:nth-child(2) {
        grid-column: 1 / 4;
    }

    .about__results-block:nth-child(3) {
        grid-column: 1 / 4;
    }

    .slider__main {
        padding: 25px 0;
    }

    .slider__item {
        padding-bottom: 0;
        background-size: 110%;
    }

    .slider__contant {
        padding: 30px;
    }

    .slider__title {
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
    }

    .slider__list {
        list-style: none;
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        font-size: 25px;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        font-size: 25px;

    }

    .cooperation__list {
        grid-template-columns: repeat(2, minmax(100px, 405px));
        grid-template-rows: repeat(5, minmax(40px, 100px));
        gap: 10px;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
    }

    .cooperation__item:nth-child(9) {
        grid-column: 1 / 3;
    }

    .team__list {
        grid-template-rows: repeat(2, minmax(100px, 260px));
    }

    .social__telegram {
        margin-right: 25px;
    }

}

@media (max-width: 320px) {

    .container {
        padding: 0 5px;
    }


    .nav {
        margin: 0;
        width: calc(100% - 20px);
        justify-content: start;
    }

    .nav__item {
        margin-right: 10px;
    }

    .hero__main {
        margin: 0;
        margin-bottom: 50px;
        width: calc(100% - 20px);
    }

    .about__line {
        margin: 0;
        width: calc(100% - 20px);
    }

    .about__main {
        padding: 20px 5px;
        width: calc(100% - 20px);
    }

    .about__results {
        width: calc(100% - 20px);
    }

    .services__main {
        width: calc(100% - 20px);
    }

    .slider__main {
        width: calc(100% - 20px);
    }

    .cooperation__main {
        width: calc(100% - 20px);
    }

    .team__main {
        width: calc(100% - 20px);
    }

    .contacts {
        width: calc(100% - 20px);
    }

    .social__telegram {
        margin-right: 25px;
    }

}