.services {

  //padding-bottom: 2em;

  &__main {
    display: flex;
    background: #141414;
    color: var(--alabaster);
    border-radius: 20px;


    &--block {
      padding: 5em 2em;
      margin: 2em 0 2em 7em;
      width: 60%;
      border: 1px solid var(--alabaster);
      border-radius: 20px;
      background-image: url(../../img/Rectangle.png);
      background-repeat: no-repeat;
      background-size: cover;

      @include small-tablet {
        margin: 10px 0 10px 35px;
        width: 100%;
      }

      @include small-mobile {
        margin: 7px 0 7px 15px;
        padding: 3em 1em;

      }

    }
  }

  &__title {
    padding: 1em;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    text-align: center;
    //transform-origin: bottom left;

    @include small-tablet {
      padding: 10px;
    }
  }

  &__item {
    margin-bottom: 1em;

    @include mobile {
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
    }

    @include small-mobile {
      font-size: 10px;
      line-height: 110%;
    }


   &--svg {
    width: 1em;
    height: 1em;
   }
  }

}
