<section class="about">
  <div class="container">
    <h1 class="title__first">
      Rost Brand
      — эффективный отдел маркетинга под ключ.
      <span> <br>Найми команду в аренду на свой проект.</span>
    </h1>
    <div class="about__main">
      <img src="../img/RB.png" alt="cat" class="about__img">

      <ul class="about__list list-reset">
        <h3 class="title__third">
          Несколько фактов о нас:
        </h3>
        <li class="about__item">
          <svg class="about__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
              stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            <defs>
              <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
              <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
            </defs>
          </svg>
          Более 120 млн заработали наши клиенты
        </li>
        <li class="about__item">
          <svg class="about__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
              stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            <defs>
              <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
              <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
            </defs>
          </svg>
          180+ компаний с нами работали
        </li>
        <li class="about__item">
          <svg class="about__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
              stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            <defs>
              <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
              <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
            </defs>
          </svg>
          350 стратегий создали
        </li>
        <li class="about__item">
          <svg class="about__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
              stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            <defs>
              <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
              <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
            </defs>
          </svg>
          25 сайтов сделали
        </li>
        <li class="about__item">
          <svg class="about__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
              stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            <defs>
              <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
              <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
            </defs>
          </svg>
          1 000 000 + постов написано
        </li>
        <li class="about__item">
          <svg class="about__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
              stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            <defs>
              <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
              <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
            </defs>
          </svg>
          20 + экспертов спродюсировано
        </li>
        <li class="about__item">
          <svg class="about__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
              stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            <defs>
              <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
              <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F39200" />
                <stop offset="1" stop-color="#E05F02" />
              </linearGradient>
            </defs>
          </svg>
          1 000 000 000 + охват подготовленного контента
        </li>
      </ul>
    </div>
  </div>
</section>
