<section class="cases">
  <div class="container">
    <h2 class="title__second cases__title">
      кейс сети ресторанов «Тбиладжио» <br><span>15 млн руб прибыли</span>
    </h2>

    <div class="cases__main">
      <div class="cases__main-right">
        <h3 class="title__third">
          Задачи:
        </h3>
        <ul class="cases__main-list">
          <li class="cases__main-item">Комплексное ведение социальных сетей всех ресторанов компании; </li>
          <li class="cases__main-item">Планирование маркетинговых стратегий для клиентов: каналы, инструменты, бюджеты; </li>
          <li class="cases__main-item">Настройка таргетированной рекламы в Вконтакте; </li>
          <li class="cases__main-item">Съемка и монтаж контента; </li>
          <li class="cases__main-item">Написание статей, постов, офферов; </li>
          <li class="cases__main-item">Аналитика, составление ежемесячных отчетов о работе рекламных кампаний.</li>
        </ul>
      </div>
      <div class="cases__main-left">
        <h3 class="title__third">
          <span>Результаты:</span>
        </h3>

        <ul class="cases__main-list">
          <li class="cases__main-item">11 месяцев успешного сотрудничества. Вела 4 аккаунта в соцсетях.</li>
          <li class="cases__main-item">Создала рекламу для медиа (25 ТВ-каналов), рекламу в ТЦ, успешно запускала таргет в ВК, выпускала статью
            в местном СМИ, проводила коллаборации с блогерами.</li>
          <li class="cases__main-item">Увеличила узнаваемость бренда
            в 2-х городах и принесла более
            15 миллионов рублей</li>
        </ul>

      </div>
      <img src="../img/tbilagio2.png" class="cases__main-image">

    </div>

    <h2 class="title__second cases__title">
      кейс Магазина нижнего белья «Важуре» <br><span>РОСТ ПРИБЫЛИ НА 50% ЗА 3 НЕДЕЛИ </span>
    </h2>

    <div class="cases__main">
      <div class="cases__main-right">
        <h3 class="title__third">
          Задачи:
        </h3>
        <ul class="cases__main-list">
          <li class="cases__main-item">Комплексное ведение всех социальных сетей компании; </li>
          <li class="cases__main-item">Планирование маркетинговых стратегий: каналы, инструменты, бюджеты; </li>
          <li class="cases__main-item">Переупаковка бренда (логотип, соцсети, мерч); </li>
          <li class="cases__main-item">Съемка и монтаж контента; </li>
          <li class="cases__main-item">Написание статей, постов, офферов; </li>
          <li class="cases__main-item">Аналитика, составление ежемесячных отчетов о работе рекламных кампаний.</li>
        </ul>
      </div>
      <div class="cases__main-left">
        <h3 class="title__third">
          <span>Результаты:</span>
        </h3>

        <ul class="cases__main-list">
          <li class="cases__main-item">Вернула бренду жизнь — сделала полностью апгрейд социальных сетей, логотип. Проработала новое позиционирование, у бренда появился узнаваемый стиль, выделяющий его
            на фоне конкурентов.</li>
          <li class="cases__main-item">Сделала 3 коллаборации с другими брендами, закупила рекламу у блогеров, PR.</li>
          <li class="cases__main-item">Увеличила прибыль компании уже через
            3 недели на 50%.</li>
        </ul>

      </div>
      <img src="../img/vagure2.png" class="cases__main-image">

    </div>

    <h2 class="title__second cases__title">
      кейс Магазина женской одежды «luchic» <br><span>продали всю коллекцию за 2 месяца</span>
    </h2>

    <div class="cases__main">
      <div class="cases__main-right">
        <h3 class="title__third">
          Задачи:
        </h3>
        <ul class="cases__main-list">
          <li class="cases__main-item">Создание и ведение всех социальных сетей компании;</li>
          <li class="cases__main-item">Планирование маркетинговых стратегий: каналы, инструменты, бюджеты;</li>
          <li class="cases__main-item">Упаковка бренда (логотип, соцсети, УТП);</li>
          <li class="cases__main-item">Монтаж контента;</li>
          <li class="cases__main-item">Написание статей, постов, офферов;</li>
          <li class="cases__main-item">Аналитика, составление ежемесячных отчетов о работе рекламных кампаний</li>
        </ul>
      </div>
      <div class="cases__main-left">
        <h3 class="title__third">
          <span>Результаты:</span>
        </h3>

        <ul class="cases__main-list">
          <li class="cases__main-item">Создала лицо бренда. Создала все ресурсы для популяризации компании с нуля. Полностью продумала позиционирование компании, УТП, TOV.</li>
          <li class="cases__main-item">Сделала закуп рекламы у блогеров, выход на ВБ, выход на сайты партнеров, продажа продукции в шоурумах.</li>
          <li class="cases__main-item">Продали за 2 месяца всю коллекцию платьев.</li>
        </ul>

      </div>
      <img src="../img/luchic2.png" class="cases__main-image">

    </div>

    <h2 class="title__second cases__title">
      кейс московского кафе «Кофе да Булка» <br><span>10 млн руб прибыли </span>
    </h2>

    <div class="cases__main">
      <div class="cases__main-right">
        <h3 class="title__third">
          Задачи:
        </h3>
        <ul class="cases__main-list">
          <li class="cases__main-item">Комплексное ведение всех социальных сетей компании, а также администрирование сайта компании; </li>
          <li class="cases__main-item">Планирование маркетинговых стратегий: каналы, инструменты, бюджеты; </li>
          <li class="cases__main-item">Упаковка бренда (логотип, соцсети, УТП); </li>
          <li class="cases__main-item">Монтаж контента; </li>
          <li class="cases__main-item">Написание статей, постов, офферов; </li>
          <li class="cases__main-item">Аналитика, составление ежемесячных отчетов о работе рекламных кампаний;</li>
        </ul>
      </div>
      <div class="cases__main-left">
        <h3 class="title__third">
          <span>Результаты:</span>
        </h3>

        <ul class="cases__main-list">
          <li class="cases__main-item">Полностью продумала позиционирование компании, УТП, TOV, дизайн и предложила переупаковку бренда.</li>
          <li class="cases__main-item">Закуп рекламы в Телеграмм- каналах всех ближайших ЖК.</li>
          <li class="cases__main-item">За 8 месяцев сотрудничества принесла компании более 10 млн рублей</li>
        </ul>

      </div>
      <img src="../img/coffee2.png" class="cases__main-image">


    </div>
    <h2 class="title__second cases__title">
      кейс онлайн-школы «Академия белочкиной» <br><span>2000 лидов за 3 дня без вложений</span>
    </h2>

    <div class="cases__main">
      <div class="cases__main-right">
        <h3 class="title__third">
          Задачи:
        </h3>
        <ul class="cases__main-list">
          <li class="cases__main-item">Планирование маркетинговых стратегий для клиентов: каналы, инструменты, бюджеты;</li>
          <li class="cases__main-item">Написание контент-стратегии и всех воронок (и автоворонок) для запуска курса;</li>
          <li class="cases__main-item">Написание статей, постов, офферов, сценариев;</li>
          <li class="cases__main-item">Управление и контроль отдела маркетинга</li>
          <li class="cases__main-item">Аналитика, составление еженедельных отчетов о работе с трафиком.</li>
          <li class="cases__main-item">Отслеживание и ведение всех запусков на каждом этапе</li>
          <li class="cases__main-item">Проведение опросов, CD;</li>
          <li class="cases__main-item">Сегментация ЦА, написание CJM</li>
          <li class="cases__main-item">Редакция и ведение сайта на конструкторе Tilda</li>
        </ul>
      </div>
      <div class="cases__main-left">
        <h3 class="title__third">
          <span>Результаты:</span>
        </h3>

        <ul class="cases__main-list">
          <li class="cases__main-item">Полностью построена контент-стратегия для всех каналов продаж: воронки, сценарии, посты, контент;</li>
          <li class="cases__main-item">Протестирована гипотеза: 6 запусков с конверсией в покупку 20%</li>
          <li class="cases__main-item">Приведена новая аудитория за счет контента без бюджета (пополнение базы на 70%)</li>
        </ul>

      </div>
      <img src="../img/AB2.png" class="cases__main-image">


  </div>
</section>
