<footer>
  <div class="container footer">
    <div class="footer__block">
      <h2 class="title__second footer__title">
        получи 10 чек-листов для продвижения любого бренда
      </h2>
      <p class="footer__param">
        Забирайте 10 самых необходимых для продвижения чек-листов, которые всегда помогут в работе над брендом
      </p>
    </div>
    <a href="https://t.me/MarketologAnnBot" target="_blank" class="footer__btn btn-reset btn__animation">
      Забрать чек-листы
    </a>
  </div>
</footer>
