<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__block">
        <h2 class="title__second footer__title">
          получи 10 чек-листов для продвижения любого бренда
        </h2>
        <p class="footer__param">
          Забирайте 10 самых необходимых для продвижения чек-листов, которые всегда помогут в работе над брендом
        </p>
      </div>
      <a href="https://t.me/MarketologAnnBot" target="_blank" class="footer__btn btn-reset btn__animation">
        Забрать чек-листы
      </a>

    </div>
    <div class="footer-projects">
      <h4>Наши сайты:</h4>
        <a href="https://rostbrenda.ru/" target="_blank" class="">
          Рост Бренда
        </a>
        <a href="https://komarova-marketolog.ru/" target="_blank" class="">
          Маркетолог
        </a>
        <a href="https://trainer-giri.ru/" target="_blank" class="">
          Тренер
        </a>
    </div>
  </div>
</footer>
