<section class="services">
  <div class="container">
    <div class="services__main">
      <h2 class="title__second services__title">
        и у нас для вас <br> <span> есть предложение</span>
      </h2>
      <div class="services__main--block">
        <h3 class="title__third">
          Для компаний и экспертов, которым нужен SMM под ключ
        </h3>
        <ul class="services__list list-reset">
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Проведение аудита ваших социальных сетей с целью выявления слабых сторон (подробный отчет на онлайн встрече)
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Разработка стратегии и подробного контент-плана с пошаговой инструкцией по созданию контента и виральному
            продвижению
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Продумывание, создание и продакшн контента под ключ (выкладка контента и подготовка отложенного постинга)
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Подготовка и внедрение автоворонок, работа с чат-ботам
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Разработка сайта, а также seo-продвижение сайта
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
<section class="results">
  <div class="container">
    <div class="services__main">
      <h2 class="title__second services__title">
        а в результате <br> <span> вы получите</span>
      </h2>
      <div class="services__main--block">
        <h3 class="title__third">
          Вы получите то, что вам необходимо и даже больше:
        </h3>
        <ul class="services__list list-reset">
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Эффективные и доступные решения по развитию социальных сетей, в том числе бесплатными методами
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Индивидуальную маркетинговую стратегию, которая закроет все возможные вопросы по создание контента и
            продвижению в социальных сетях
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Привлечение новой аудитории и удержание существующих клиентов через качественный контент
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Понимание своей целевой аудитории для создания контента, который будет удерживать внимание и прогревать к
            покупке товаров или услуг
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Ведение социальных сетей без стресса и потери уймы времени
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Постоянный анализ методик работы и предоставление подробных отчетов
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Постоянный анализ методик работы и предоставление подробных отчетов
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Команду SMM под ключ
          </li>

        </ul>

      </div>
    </div>
  </div>
</section>
<section class="results">
  <div class="container">
    <div class="services__main">
      <h2 class="title__second services__title">
        упаковка и обучение <br> <span> отдела маркетинга </span>
      </h2>
      <div class="services__main--block">
        <h3 class="title__third">
          Для компаний и экспертов, которым нужно обучить свой отдел маркетинга:
        </h3>
        <ul class="services__list list-reset">
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Выстраивание подробных регламентов работы с указанием функциональных обязанностей сотрудников
          </li>
          <li class="services__item">
            Обучение:
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Выстраиванию стратегии продвижения бизнеса, в том числе рабочих воронок
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Расчета сквозной аналитики
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Созданию текстового и видео контента для различных площадок
          </li>
          <li class="services__item">
            <svg class="services__item--svg" width="#" height="#" viewBox="0 0 44 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0001 11L12.8334 31.1667L3.66675 22" stroke="url(#paint0_linear_229_490)" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.3333 18.3333L26.5833 32.0833L23.8333 29.3333" stroke="url(#paint1_linear_229_490)"
                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <defs>
                <linearGradient id="paint0_linear_229_490" x1="4.38272" y1="-10.9357" x2="33.1899" y2="-10.7127"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
                <linearGradient id="paint1_linear_229_490" x1="24.236" y1="3.37711" x2="40.4404" y2="3.48061"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F39200" />
                  <stop offset="1" stop-color="#E05F02" />
                </linearGradient>
              </defs>
            </svg>

            Подготовка скриптов и автоматизация бизнеса с помощью чат-ботов и crm-систем
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
