.title--block {
  padding-left: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  @include mobile {
    padding-left: 20px;
  }

  &__img {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    max-width: 175px;
    opacity: 0.3;

    @include mobile {
      max-width: 100px;
    }
  }

  &__text {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
}


.about--main {
  @include flex;
  justify-content: space-between;

  @include mini-tablet {
    flex-direction: column
  }
}

.about--main__left {
    @include flex;
    flex-direction: column;
    width: calc(100% / 2);

    @include mini-tablet {
      width: 100%;
    }

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 48px;
    }
}

.about--main__right {
    @include flex;
    justify-content: center;
}

.about--main__side {
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    background-color: var(--mine-shaft);
    color: var(--white);

    @include small-tablet {
      padding: 50px 30px;

    }

    .about__list {
      @include flex;
      justify-content: space-between;

      @include small-tablet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    }

    .about__item {
      position: relative;
      margin: 0;
      margin-right: 15px;

      @include small-tablet {
        margin: 0;
      }

      &--subtitle {
        font-weight: 400;
        font-size: 40px;
        line-height: 53px;

        @include small-mobile {
          font-weight: 400;
          font-size: 33px;
          line-height: 43px;
        }
      }

      &--param {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
      }

      @include small-tablet {
        text-align: center;
      }


      &:nth-child(1)::after {
        position: absolute;
        content: "10";
        bottom: 50%;
        left: 0;
        text-align: center;
        font-weight: 400;
        font-size: 120px;
        line-height: 120px;
        color: rgba(255, 255, 255, 0.08);

        @include mini-tablet {
          font-weight: 400;
          font-size: 80px;
          line-height: 80px;
        }

        @include small-tablet {
          bottom: 50%;
          left: 37%;
          text-align: center;
        }

    }

      &:nth-child(2)::after {
        position: absolute;
        content: "100";
        bottom: 50%;
        left: 0;
        font-weight: 400;
        font-size: 120px;
        line-height: 120px;
        color: rgba(255, 255, 255, 0.08);

        @include mini-tablet {
          font-weight: 400;
          font-size: 80px;
          line-height: 80px;
        }

        @include small-tablet {
          bottom: 50%;
          left: 25%;
          }

    }

      &:nth-child(3)::after {
        position: absolute;
        content: "20";
        bottom: 50%;
        left: 0;
        font-weight: 400;
        font-size: 120px;
        line-height: 120px;
        color: rgba(255, 255, 255, 0.08);

        @include mini-tablet {
          font-weight: 400;
          font-size: 80px;
          line-height: 80px;
        }

        @include small-tablet {
          bottom: 50%;
          left: 37%;
          text-align: center;
        }

    }
}
}

.subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;

  @include mobile {
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
  }
}

.param--text {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

