.customs {
  &__main {
    padding: 50px 0;
    background-color: var(--mine-shaft);
    color: var(--white);
  }

  &__list {
    @include flex;
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin: 0;
    margin-bottom: 30px;

    figcaption {
      font-weight: 400;
      font-size: 36px;
      line-height: 48px;
      text-align: center;

      @include small-mobile {
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
      }
    }
  }

  &__title {
    width: calc(100% / 4);
  }
}

.btn {
  display: flex;
  max-width: 18em;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  color: var(--mine-shaft);
  background-color: var(--ronchi);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: var(--golden_tainoi);
    transform: translateY(-5px);
    box-shadow: 0 5px 5px 5px rgba(99, 90, 90, 0.25);

  }
}
