.footer {
  &__main {
    @include flex;
    padding: 25px 0;
    justify-content: space-between;
    align-items: center;

    @include mini-tablet {
      justify-content: space-between;
    }
  }

  &__list {
    @include flex;

    @include mini-tablet {
      display: none;
    }
  }

  &__item {
    margin-right: 30px;

  }

  &__logo {
    @include flex-all-center;
    margin-right: 20px;
    flex-direction: column;

    @include mini-tablet {
      flex-direction: row;
    }

    @include small-mobile {
      margin: 0;
      flex-direction: column;
    }

    svg {
      max-width: 120px;

      @include mini-tablet {
        margin: 0;
      }

      @include mobile {
        width: 80px;
        height: 80px;
      }
    }

  }

  &__social {
    @include flex;
    flex-direction: column;
    justify-content: space-between;

    @include mini-tablet {
      flex-direction: row;
    }

  }



}

.social__link {
  max-width: 40px;
  transition: transform 0.3s ease-in-out;

  @include mini-tablet {
    margin-right: 25px;
  }

  @include mobile {
    margin-right: 10px;
  }


  svg {
    width: 36px;
    height: 36px;

  }

  &:hover {
    transform: scale(1.2);

  }
}

