
.nav {
  @include flex;
  padding: 20px 0;
  justify-content: space-between;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  @include mini-tablet {
    justify-content: space-between;
  }


    &__logo {
      @include flex;
      align-items: center;

      .logo__img {
        width: 70px;
        height: 70px;
      }
    }

    &__list {
      @include flex;
      align-items: center;
      justify-content: space-between;

      @include mini-tablet {
        display: none;
      }


    }

    &__item {
      margin-right: 50px;
      cursor: pointer;
      grid-area: two;
      transition: transform 0.3s ease-in-out;

      @include mini-tablet {
        margin: 0;
        padding: 10px 30px;
      }

      &:last-child {
        margin: 0;
      }

      &:hover {
        transform: scale(1.2);
      }

    }

    }

    .burger {
      display: none;
      @include burger;

      @include mini-tablet {
        display: block;
      }
    }

    .menu--active {
      padding: 30px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--mine-shaft);
      color: var(--white);
      transition: transform 5s ease-in-out;
    }






