
.training {
  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
  }

  &__item {
    @include flex;
    margin-bottom: 30px;
    padding: 70px 10px;
    justify-content: end;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: left;

    @include mini-tablet {
      padding: 0;
      padding-top: 450px;
      flex-direction: column-reverse;
      align-items: center;
      background-position: top;

    }
  }

    &__item:nth-child(1) {
      background-image: url(../img/kettlebells.jpg);
    }

    &__item:nth-child(2) {
      justify-content: space-between;
      background-image: url(../img/new.jpg);
      background-size: contain;
      background-position: right;

      @include mini-tablet {
        background-position: top;

      }
    }

    &__item:nth-child(3) {
      background-image: url(../img/Grip.jpg);
    }

    &__item-block {
      padding: 0 30px;
      width: calc(100% / 2);
      background-color: var(--white);

      @include mini-tablet {
      width: 100%;
      text-align: center;
      z-index: 100;
      }

      @include small-mobile {
        padding: 0;
      }
    }
  }


