html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Orbitron';
  src: local('Orbitron'),
    url(../fonts/Orbitron.woff2) format("woff2"),
    url(../fonts/Orbitron.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
    url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



body {
  font-family: 'Orbitron', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--black);
  color: var(--white);
}

/*glob*/

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  min-width: 180px;
  /*max-height: 78px;*/
  cursor: pointer;
  border: 1px solid var(--white);
  color: var(--white);
  background-color: var(--aqua);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.flex {
  display: flex;
}

.container {
  /*padding: 0 15px;*/
  max-width: 1470px;
  margin: 0 auto;
}

.title-h2 {
  text-indent: 45px;
}

.section {
  margin: 0;
}

.section:first-child {
  padding-bottom: 250px;

}

:root {
  --black: #000000;
  --aqua: #57B8FF;
  --yellow: #FDD04A;
  --white: #fff;
}

/*header*/

.header {
  padding-bottom: 200px;
  background: linear-gradient(to right, var(--black) 50%, var(--aqua) 50%);
}

.header__nav {
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

.nav__items {
  padding: 0 60px;
}

/*  hero  */

.title {
  position: relative;
  padding-left: 15px;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  text-transform: capitalize;
}

.title::after {
  position: absolute;
  content: "";
  top: 73%;
  left: 4%;
  width: 70%;
  height: 4%;
  background-image: url(../img/Vector.svg);
}

.hero {
  background: linear-gradient(to right, var(--black) 50%, var(--aqua) 50%);
}

.hero__main {
  padding: 0 25px;
  justify-content: start;
}

.hero__socials {
  max-width: 30px;
  height: 50px;
  justify-content: end;
  transform: rotate(-90deg);
}

.hero__contant {
  margin-bottom: 50px;
}

.socials {
  margin-right: 50px;
}

.hero__left {
  min-width: 41%;
}

.esports {
  margin-bottom: 25px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--aqua);
}

.hero__right {
  width: 167%;
}

/*  sponsors  */

.sponsors {
  padding: 125px 0;
  color: var(--black);
  background-color: var(--yellow);
}

.sponsors__main {
  margin-bottom: 45px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 36em;
}

.sponsors__block {
  justify-content: center;
}

.title__h2 {
  position: relative;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

.title__h2::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 25%;
  width: 75%;
  height: 20%;
  background-image: url(../img/Vector_s.svg);
}

.sponsors__span {
  text-align: center;
}

.sponsors__list {
  display: grid;
  grid-template-columns: repeat(6, minmax(75px, 150px));
  grid-template-rows: 1, 75px;
  justify-content: center;
  gap: 30px;
}

.sponsors__items {}

/*  services */

.services {
  padding: 100px 0;
  background-image: url(../img/IMAGE.jpg);
}

.title-services {
  margin: 0;
  margin-bottom: 30px;
  max-width: 720px;
  text-align: center;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
}

.services__param {
  margin-bottom: 30px;
  max-width: 700px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.services__main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 600px));
  grid-template-rows: repeat(2, minmax(50px, 230px));
  gap: 30px;
}

.services__item {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
}

.services__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
}

/*  new  */

.new {
  padding: 130px 30px;
  background-color: var(--black);
}

.new__main {
  justify-content: space-around;
}

.new__left-block {
  max-width: 720px;
  flex-direction: column;
  justify-content: center;
}

.new__btn {
  max-width: 210px;
}

.title-new {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
}

.new__param {
  margin-bottom: 30px;
}

.new__right-block {
  max-width: 500px;
}

/*  custom  */

.custom {
  background-color: #2A313C;
}

.custom__main {
  justify-content: space-around;
}

.custom__right-block {
  max-width: 600px;
  flex-direction: column;
  justify-content: center;
}

.custom__left-block {
  max-width: 630px;
}

.custom__list {
  justify-content: space-between;
}

/*  cards  */

.cards__item {
  position: relative;
}

.cards__block {
  position: absolute;
  top: 35%;
  left: 15%;
  text-align: center;

  /*display: flex;
  flex-direction: column;
  align-items: center;*/
}

.cards__param {
width: 340px;  
font-weight: 400;
font-size: 48px;
line-height: 58px;
}

.cards__icon {
  max-width: 128px;
}

/*.cards__item-1::before {
  position: absolute;
    content: "";
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
}

/*.cards__item-1 {
  background-image: url(../img/cards-1.jpg);
  background-size: cover;
}

.cards__item-2 {
  background-image: url(../img/cards-2.jpg);
  background-size: cover;
}

.cards__item-3 {
  background-image: url(../img/cards-3.jpg);
  background-size: cover;
}

.cards__img {
  max-width: 128px;
  margin-bottom: 30px;
}

.cards__param {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}*/