.footer {

  padding: 80px 0;
  background-color: var(--ebony-clay);
  color: var(--white);


  &__logo {
    margin-bottom: 35px
  }

  &__main {
    @include flex;

    padding: 15px 0;
    justify-content: space-between;
    border-top: 1px solid var(--ghost_white);

  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
  }

  &__block {
    @include flex;

    width: calc(100% / 3);
    flex-direction: column;

    &-logo {
      margin-bottom: 24px;
    }

    &-social {
      @include flex;


      svg {
        margin-right: 20px;
        width: 24px;
        height: 24px;
        fill: var(--white);
        opacity: .6;

        &:last-child {
          margin-right: 0;
        }
      }

      &--link {
        margin-right: 15px;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }

  &__param {
    margin: 0;
    margin-bottom: 34px;
    max-width: 279px;
    opacity: .6;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

  }

  &__subtitle {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }

  &__list {
    @include flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    opacity: .6;

    &-link {
    color: var(--ghost_white);
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    }
  }

  &__contacts {
    @include flex;

    flex-direction: column;
  }

  &__link {

    @include flex;

    margin-bottom: 10px;
    color: inherit;
    opacity: .6;

    &:last-child {
      margin: 0;
    }

    &-icon {
      margin-right: 10px;
      width: 16px;
      height: 16px;
      fill: var(--white);
      opacity: .6;
    }
  }


}
