.cert {

  padding-top: 120px;

  &__main {
    @include flex;


    &--block {
      @include flex;

      flex-direction: column;
    }
  }

  &__title--block {
    margin-bottom: 48px;

    span {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__title {
    margin: 0;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
  }

  &__param {
    margin: 0;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }

  &__list {
    @include flex;

  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__img {
    width: calc(100% - 43%);
  }
}
