.header {
  padding: 30px 0;
  background-image: url(../img/main/background.jpg);


  .nav  {
    @include flex;

    justify-content: space-between;
    align-items: center;

    &__list {
      @include flex;

      justify-content: space-between;

    }

    &__item {
      margin-right: 40px;

      &:last-child {
        margin: 0;
      }
    }


  }
}
