.team {

  padding-top: 100px;
  background-color: #F4F5F7;

  &__title--block {

    span {
      margin-bottom: 9px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
  }

  &__item {
    text-align: center;

  }

  &__image {
    margin-bottom: 20px;
    background-color: var(--sunglow);
  }

  &__name {
    margin: 0;
    color: #424551;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }

  &__post {
    margin: 0;
    color: var(--storm-gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }

  &__nav {
    margin-bottom: 25px;
  }

  &__btns {
    @include flex;

    justify-content: end;
  }

  &__slider-btn {

    &:not(:last-child) {
      margin-right: 15px;
    }

    svg {
      fill: #424551;
      border-radius: 50%;
      transition: background-color .3s ease-in-out, transform .3s ease-in-out;


      &:hover {
        fill: var(--white);
        transform: scale(1.2);
        background-color: var(--primary);
      }
    }


  }
}
